:root {
	--text-color: black;
	--highlight-color: grey;
	--hover-color: blue;
	--gold: #cfb87c;
	--tan: #e4e0d6;
	--darkblue: #0d6a90;
	--lightblue: #518d99;
	--red: #d88c7c;
}

body {
	margin: 0px;
	/* this is a good enough stack for getting the condensed bold */
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.full_pane {
	position: relative;
	height: 200vh;
	width: 100vw;
}

/* bootstrap sm and up */
@media (min-width: 768px) { 
	.full_pane {
		height: 100vh;
	}
}

.one {
	height: 100vh;
	background-image: url(res/leeds.jpg); 
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.two {
	background-color: var(--darkblue);
}

.three {
	background-color: var(--tan);
}

.four {
	background-color: var(--lightblue);
}

#learn_more {
	outline: none;
	background: none;
	border: none;
	color: var(--highlight-color);
	position: absolute;
	bottom: 1.5em;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 1em;
}

#down {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0;
	border: 2px solid var(--highlight-color);
	border-top-width: 0;
	border-left-width: 0;
	width: 1em;
	height: 1em;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);	
}

#learn_more:hover {
	color: var(--hover-color);
}

#learn_more:hover #down {
	border-color: var(--hover-color);
}

/* this handles scrollsnap
.scroller {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow: auto;
	-webkit-scroll-snap-points-y: repeat(100%);
	-webkit-scroll-snap-type: mandatory;
	-webkit-scroll-snap-destination: 100% 0%;
	scroll-snap-points-y: repeat(100%);
	scroll-snap-type: mandatory;
	scroll-snap-destination: 100% 0%;
}
*/



.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.v_centered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.header {
	width: 100vw;
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}

.sub_header {
	width: 100vw;
	font-size: 56px;
	font-weight: normal;
	text-align: center;
}

