:root {
	--bg-color: white;
}

body {
	margin: 0px;
	/* this is a good enough stack for getting the condensed bold */
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.one {
}

.two {
	background-color: #f2f2f2;
}

.three {
	background-color: #a2a2a2;
}

.scroller {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow: auto;
	-webkit-scroll-snap-points-y: repeat(100%);
	-webkit-scroll-snap-type: mandatory;
	-webkit-scroll-snap-destination: 100% 0%;
	scroll-snap-points-y: repeat(100%);
	scroll-snap-type: mandatory;
	scroll-snap-destination: 100% 0%;
}

.full_pane {
	position: relative;
	height: 100vh;
	width: 100vw;
	/*scroll-snap-align: start;*/
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.v_centered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.header {
	width: 100vw;
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}

.sub_header {
	width: 100vw;
	font-size: 56px;
	font-weight: normal;
	text-align: center;
}

