:root {
	--gold: #cfb87c;
	--one: #3f668c;
	--two: #698595;
	--three: #77b2c7;
	--emph: #b56969;
	--light-emph: #d2a5a5;
}

body {
	margin: 0px;
	font-family: Helvetica Neue;
}

.full_pane {
	position: relative;
	height: 200vh;
	width: 100vw;
}

.logo {
	max-height: 50px;
	width: auto;
	margin: 15px;
}

.menu-link {
	position: relative;
	text-align: center;
	display: none;
}

.menu-link-text {
	width: 100%;
	margin: 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: white;
}

.menu-link:hover h3{
	color: var(--gold);
}

.header {
	/* something needs to happen for mobile! */
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.svg {
	display: none;
}

/* bootstrap sm and up */
@media (min-width: 768px) { 
	.full_pane {
		height: 100vh;
	}

	.header {
		grid-template-columns: 5fr 4fr 4fr 4fr;
	}

	.menu-link {
		display: block;
	}
	.svg {
		display: block;
		position: absolute;
		transform: translate(-50%,-60px);
		left: 50%;
		width: 80%;
	}
}

.one {
	height: 100vh;
	background-image: url(res/leeds.jpg); 
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.two {
	background-color: var(--one);
	color: white;
}

.three {
	background-color: var(--two);
	color: white;
}

.four {
	background-color: var(--three);
	color: white;
}


.landing_text {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	padding-right: 5px;
	padding-left: 5px;
	/* this color is var(--emph); */
	background: rgba(181,105,105,.9);
}

.landing_text h1 {
	/* this is a good enough stack for getting the condensed bold */
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	text-transform: uppercase;
	font-size: 5rem;
	font-size: 7.5vw;
	color: white;
	margin: 0;
}

.landing_text h2 {
	font-size: 5vw;
	color: var(--gold);
	margin: 0;
}

.boulder {
	font-weight: bold;
}

#learn_more {
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	background: none;
	border: none;
	color: white;
	position: absolute;
	bottom: 1.5em;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 1em;
}

#down {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0;
	border: 4px solid white;
	border-top-width: 0;
	border-left-width: 0;
	width: 1em;
	height: 1em;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);	
}

#learn_more:hover {
	color: var(--gold);
}

#learn_more:hover #down {
	border-color: var(--gold);
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.v_centered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.pageHeader {
	font-weight: bold;
	font-size: 5vw;
	margin: 0;
}


.pageHeader:not(.mikedp) {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.page-subheader {
	font-style: italic;
	font-size: 4.5vw;
}

.pageLink {
	background-color: var(--emph);
	border-radius: 7px;
	display: inline-block;
	position: relative;
	transition: background-color 0.3s ease-in-out;
}

.pageLink:hover {
	background-color: var(--light-emph);
}	

.centered_link {
	margin: auto;
	display: block;
}

.pageLink h3 {
	color: white;
	display: inline-block;
	text-transform: uppercase;
	margin: 0px;
	padding: 5px;
	font-size: 1.5rem;
}

hr {
	margin: 0px;
	margin-bottom: 2rem;
	border: none;
	border-top: 10px solid var(--emph);
}

.bullets{
	display: inline-block;
	list-style-type: none;
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.bullets li::before {
	content: '\200B + ';
	color: var(--emph);
	font-size: 1.6rem;
}

.centered_bullets {
	padding-left: 0;
	margin: auto;
}

.container-fluid {
	padding-left: 30px;
	padding-right: 30px
}

p {
	text-indent: 2rem;
}

.leeds-icon {
	width: 13%;
	min-width: 100px;
	position: absolute;
	padding-left: 30px;
	transform: translateY(-50%);
}

